body{
    background: #E9E9E9;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}
:not(svg,g){
    transition: ease 0.6s all;
}

/*  */
header{
    width: 100%;
}

.Wrapper{
    width: 80%;
    margin: auto;
    top:0;
    transition: all 0.6s ease;
}
.NightSpace{
    top: 0;
    right: 0;
    display: block;
    position: absolute; 
    z-index: 100;
    width: 85%;
}
.NightSpaceTablet,
.NightSpacePhone,
.NightSpacePhoneMedium,
.NightSpacePhoneSmall,
.NightSpacePhoneTiny{
    display: none;
}

.Logo{
    margin: 1% 0 0 0;
    width: 10%;
    display: block;
}
.HelloLabel{
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 500;
    color: #686868;
    font-size: 3vw;
    display: block;
    width: fit-content;
    margin: 5% 10% 0 10%;
    position: relative; 
    z-index: 110;
}

/* scroll down icon */
.ScrollDownContainer {
    position: sticky;
    width: 28px;
    height: 65px;
    margin: 30vw auto 0 auto;
    z-index: 110;
    bottom: 0;
  }
  .Chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }
  .Chevron:first-child {
    animation: move 3s ease-out 1s infinite;
  }
  
  .Chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }
  .Chevron:before,
  .Chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #eee;
  }
  .Chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }
  .Chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
  @keyframes pulse {
    to {
      opacity: 1;
    }
  }


.HeaderSpacer{
    width: 100%;
    height: 33vw;
    display: block;
}

/*  */
.WrapperSectionAbout{
    display: flex;
    padding: 0 0 34vw 0;
}
.WrapperRocket{
    display: block;
}

/*  */
.Rocket{
    width: 35%;
    position: absolute;
    z-index: 110;
}
.ProfilePhoto{
    width: 15.3vw;
    position: absolute;
    z-index: 111;
    display: block;
    margin: 12.4% 9.8%;
}
.SkillsChart{
    width: 22vw;
    margin: 30.5vw 0 0 6vw;
    position: absolute;
    z-index: 112;
    align-items: center;
    display: grid;
}

/* content about */
.WrapperContent{
    z-index: 110;
    display: block;
    margin: 0 0 0 32vw;
    padding: 7vw 0 0 0;
}
.ProfilePhotoTablet{
    display: none;
}
.WrapperContent p{
    color: white;
    padding: 0 0 0 3vw;
    font-size: 1vw;
    line-height: 200%;
    letter-spacing: 0.5px;
} 
.SocialIcon{
    width: 2vw;
    margin: 0.5vw;
    fill: #666;
    transition: all 0.6s ease;
    display: inline-block;
}
.SocialIcon:hover{
    fill: #eee;
    
}

.DownloadIcon{
    width: 2vw;
}

a.Btn{
    width: fit-content;
    height: fit-content;
    padding: 0.6vw;
    background: #666666;
    border-radius: 0.55vw;
    font-weight: 500;
    font-size: 1vw;
    color: #000;
    text-decoration: none;
    transition: all 0.6s ease;
    display: flex;
}

a.Btn:hover{
    background: #e9e9e9;
    transition: 0.25s;
}

.ContactEmailIcn, .ContactPhoneIcn{
    width: 1.2vw;
}

.SkillsWrapper{
    display: none;
}

.WrapperSectionPortfolio{
    position: relative;
    z-index: 120;
    color: #333;
}


@media screen and (min-width: 900px) and (max-width: 1300px){
    .Wrapper{
        width: 95%;
    }
    .HelloLabel{
        margin: 0 10%;
    }

    .WrapperSectionAbout{
        padding: 0 0 27vw 0;
    }
    .SocialIcon{
        width: 3vw;
    }

    .WrapperContent{
        padding: 14vw 0 0 0;
    }
    .WrapperContent p{
        line-height: 150%;
        font-size: 1.3vw;
    }
}

@media screen and (min-width: 550px) and (max-width: 899px){

    .NightSpace{
        display: none;
    }
    .NightSpaceTablet{
        top: 0;
        right: 0;
        display: block;
        position: absolute; 
        z-index: 100;
        margin: 34vw 0 0 0;
    }
/* header */
    .Wrapper{
        width: 95%;
    }
    .Logo{
        width: 15%;
        margin: 3vw auto 0 auto;
    }
    .HelloLabel{
        margin: 0 10%;
        font-size: 4.5vw;
    }

    .ScrollDownContainer {
        margin: 37vw auto 0 auto;
    }

    /* @media (min-width: 550px) and (max-width: 680px){
        .ScrollDownContainer {
            margin: 39vw auto 0 auto;
        }
    } */

    .HeaderSpacer{
        height: 50vw;
    }

    /* about section */
    .WrapperContent{
        margin:0;
        padding: 0;
    }
    .ProfilePhotoTablet{
        display: block;
        width: 40vw;
        margin: 0 auto;
    }
    .WrapperRocket{
        display: none;
    }

    .SocialIcon{
        width: 3vw;
    }

    .WrapperContent h1{
        font-size: 4.5vw;
    }

    .WrapperContent p{
        line-height: 150%;
        font-size: 3vw;
    }

    .SocialIcon{
        width: 6vw;
    }

    .DownloadIcon{
        width: 5vw;
    }
    a.Btn{
        font-size: 2.5vw;
    }
    .ContactEmailIcn, .ContactPhoneIcn{
        width: 3vw;
    }
    .SkillsWrapper{
        display: block;
    }
    .CodeLangIcn{
        margin: 3vw 0 0 0;
    }

    .WrapperSectionPortfolio h1{
        font-size: 4.5vw;
    }
    .WrapperSectionPortfolio h2{
        font-size: 3.6vw;
    }
    
}

@media screen and (min-width: 430px) and (max-width: 549px){

    .NightSpace{
        display: none;
    }
    .NightSpacePhone{
        top: 0;
        right: 0;
        display: block;
        position: absolute; 
        z-index: 100;
        margin: 50vw 0 0 0;
    }
/* header */
    .Wrapper{
        width: 95%;
    }
    
    .Logo{
        width: 25%;
        margin: 3vw auto 0 auto;
    }
    .HelloLabel{
        margin: 0 10%;
        font-size: 6.5vw;
    }

    .ScrollDownContainer{
        margin: 34vw auto 0 auto;
    }

    .HeaderSpacer{
        height: 50vw;
    }

    /* about section */
    .WrapperContent{
        margin:0;
        padding: 0;
    }
    .WrapperContent h1{
        font-size: 5.5vw;
    }

    .WrapperContent p{
        line-height: 150%;
        font-size: 3.5vw;
    }
    .ProfilePhotoTablet{
        display: block;
        width: 40vw;
        margin: 0 auto;
    }
    .WrapperRocket{
        display: none;
    }
    .SocialIcon{
        width: 8vw;
    }

    .DownloadIcon{
        width: 5vw;
    }
    a.Btn{
        font-size: 2.5vw;
    }
    .ContactEmailIcn, .ContactPhoneIcn{
        width: 3vw;
    }
    .SkillsWrapper{
        display: block;
    }
    .CodeLangIcn{
        margin: 3vw 0 0 0;
    }

    .WrapperSectionPortfolio h1{
        font-size: 8vw;
    }
    .WrapperSectionPortfolio h2{
        font-size: 6.6vw;
    }
    
}

@media screen and (min-width: 380px) and (max-width: 429px){

    .NightSpace{
        display: none;
    }
    .NightSpacePhoneMedium{
        top: 0;
        right: 0;
        display: block;
        position: absolute; 
        z-index: 100;
        margin: 50vw 0 0 0;
    }
/* header */
    .Wrapper{
        width: 95%;
    }
    
    .Logo{
        width: 25%;
        margin: 3vw auto 0 auto;
    }
    .HelloLabel{
        margin: 0 5%;
        font-size: 7vw;
    }

    .ScrollDownContainer{
        margin: 30vw auto 0 auto;
    }

    .HeaderSpacer{
        height: 50vw;
    }

    /* about section */
    .WrapperSectionAbout{
        padding: 0 0 35vw 0;
    }

    .WrapperContent{
        margin:0;
        padding: 0;
    }
    .WrapperContent h1{
        font-size: 7.5vw;
    }

    .WrapperContent p{
        line-height: 150%;
        font-size: 4.5vw;
    }
    .ProfilePhotoTablet{
        display: block;
        width: 50vw;
        margin: 0 auto;
    }
    .WrapperRocket{
        display: none;
    }
    .SocialIcon{
        width: 13vw;
        margin: 2vw 5vw 0 0;
    }

    .DownloadIcon{
        width: 8vw;
    }
    a.Btn{
        font-size: 4.5vw;
    }
    .ContactEmailIcn, .ContactPhoneIcn{
        width: 3vw;
    }
    .SkillsWrapper{
        display: block;
    }
    .CodeLangIcn{
        margin: 3vw 0 0 0;
    }

    .WrapperSectionPortfolio h1{
        font-size: 8vw;
    }
    .WrapperSectionPortfolio h2{
        font-size: 6.6vw;
    }
    
}

@media screen and (min-width: 270px) and (max-width: 379px){

    .NightSpace{
        display: none;
    }
    .NightSpacePhoneTiny{
        top: 0;
        right: 0;
        display: block;
        position: absolute; 
        z-index: 100;
        margin: 60vw 0 0 0;
    }
/* header */
    .Wrapper{
        width: 95%;
    }
    
    .Logo{
        width: 25%;
        margin: 3vw auto 0 auto;
    }
    .HelloLabel{
        margin: 0 0 12vw 0;
        font-size: 8vw;
    }

    .ScrollDownContainer{
        margin: 40vw auto 0 auto;
    }

    .HeaderSpacer{
        height: 50vw;
    }

    /* about section */
    .WrapperSectionAbout{
        padding: 0 0 40vw 0;
    }
    .WrapperContent{
        margin:0;
        padding: 0;
    }
    .WrapperContent h1{
        font-size: 9.5vw;
    }

    .WrapperContent p{
        line-height: 150%;
        font-size: 5.5vw;
    }
    .ProfilePhotoTablet{
        display: block;
        width: 50vw;
        margin: 0 auto;
    }
    .WrapperRocket{
        display: none;
    }
    .SocialIcon{
        width: 13vw;
        margin: 2vw 5vw 0 0;
    }

    .DownloadIcon{
        width: 8vw;
    }
    a.Btn{
        font-size: 4.5vw;
    }
    .ContactEmailIcn, .ContactPhoneIcn{
        width: 3vw;
    }
    .SkillsWrapper{
        display: block;
    }
    .CodeLangIcn{
        margin: 3vw 0 0 0;
    }

    .WrapperSectionPortfolio h1{
        font-size: 8vw;
    }
    .WrapperSectionPortfolio h2{
        font-size: 6.6vw;
    }
    
}

@media screen and (max-width: 269px){

    .NightSpace{
        display: none;
    }
    .NightSpacePhoneTiny{
        top: 0;
        right: 0;
        display: block;
        position: absolute; 
        z-index: 100;
        margin: 60vw 0 0 0;
    }
/* header */
    .Wrapper{
        width: 95%;
    }
    
    .Logo{
        width: 25%;
        margin: 3vw auto 0 auto;
    }
    .HelloLabel{
        margin: 0 0 12vw 0;
        font-size: 8vw;
    }

    .ScrollDownContainer{
        margin: 40vw auto 0 auto;
    }

    .HeaderSpacer{
        height: 50vw;
    }

    /* about section */
    .WrapperSectionAbout{
        padding: 0 0 30vw 0;
    }
    .WrapperContent{
        margin:0;
        padding: 0;
    }
    .WrapperContent h1{
        font-size: 9.5vw;
    }

    .WrapperContent p{
        line-height: 150%;
        font-size: 5.5vw;
    }
    .ProfilePhotoTablet{
        display: block;
        width: 50vw;
        margin: 0 auto;
    }
    .WrapperRocket{
        display: none;
    }
    .SocialIcon{
        width: 13vw;
        margin: 2vw 5vw 0 0;
    }

    .DownloadIcon{
        width: 8vw;
    }
    a.Btn{
        font-size: 4.5vw;
    }
    .ContactEmailIcn, .ContactPhoneIcn{
        width: 3vw;
    }
    .SkillsWrapper{
        display: block;
    }
    .CodeLangIcn{
        margin: 3vw 0 0 0;
    }

    .WrapperSectionPortfolio h1{
        font-size: 8vw;
    }
    .WrapperSectionPortfolio h2{
        font-size: 6.6vw;
    }
    
}