.Wrapper{
    height: 1.8vw;
    z-index: 112;
    position: relative;
    display: flex;
    margin: 0.4vw 0;
}

.Label{
    background: #669898;
    width: 30%;
    text-align: center;
    color: #fff;
    align-items: center;
    display: grid;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.1vw;
    font-size: 1.2vw;
}
.Bucket{
    background: #E9E9E9;
    height: 100%;
    width: 70%;
    z-index: 112;
}
.Filler{
    background: #025159;
    height: 100%;
    color: #669898;
    text-align: right;
    font-size: 90%;
}

